
  .fa-circle-chevron-right, .fa-circle-chevron-left
  {
    padding: 50px;
  }
  .contact
  {
    background-color: rgb(158, 160, 160);
    border-radius: 5px;
  }
  .rectangle,.rectangle_updat {
    width: 150px;
    height: 80px;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  .image-input , .image-input1{
    position: absolute;
    padding: 10px;
    background: rgba(217,217,217,0.3700000047683716);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 53px;
    border-radius: 50%;
  }
  .rectangle input[type="file"],.rectangle_updat input[type="file"] {
    display: none;
  }

  .rectangle .icon, .rectangle_updat .icon {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .rectangle img,.rectangle_updat img {
    display: block !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image,.image1 {
    position: relative;
    text-align: center;
    color: white;
    width: 150px;
    height: 80px;

  }
  .image img, .image1 img
  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .bottom-left{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.28);
  }
  .top-right {
    position: absolute;
    top: 2px;
    right: 8px;
    color: black;
  }
  

  #annonces{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}
#annonces .annonce{
background-color: white;
box-shadow: 0 5px 70px 0 rgb(38 42 76 / 10%);
width:400px;
border-radius: 5px;
padding: 10px;
position: relative;
cursor: pointer;
overflow: hidden;
transition-duration:0.3s ;
}
#annonces .annonce > img{
width:100%;
transition-duration:1s ;
filter: blur(1px);
}

#annonces .annonce .inf{
    text-align: start;
    position: absolute;
    bottom:20%;
    left:20px;
    color: white;

}

#annonces .annonce > img:hover{
  transform:scale(2);
filter: blur(0px);


}
#annonces .annonce:hover h3{
color:rgb(104, 28, 28);
}
.inf2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.inf2 p{
color: rgba(0, 0, 0, 0.527);
font-weight: 600;
}
.inf2 .more,.close-addModal{
    border: none;
    padding:10px;
    border-radius: 5px;
    background-color:#644c20b6;
    color:white;font-weight:700;
    cursor: pointer;
    transition-duration: 0.3s;
}
.more a{
    text-decoration:none;
    color:white;
}
.inf2 .more,.close-addModal:hover{
    background-color:rgb(146, 25, 25);

}
.btns{
    position: absolute;
    top:20px;
right: 20px;
}
.btns img{
    width: 30px !important;
}

/* validation form */
small {
  color: red;
}

.formvalid-success input,.formvalid-success select,.formvalid-success textarea{
  border: 3px solid rgb(13, 245, 32);
}

.formvalid-error input, .formvalid-error select,.formvalid-error textarea{
  border: 3px solid rgb(244, 42, 42);
}


:root{
  --font-color:hsla(0, 0%, 0%, 0.62);
}
/* start annonce header */
#announce_header_p{
  margin-top: 50px;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
margin:100px 7%;
margin-bottom:30px !important;
}
#announce_header_c div:first-child{
display: flex;
gap: 5px;
}
#announce_header_c div:first-child p{
  background-color:#39374D;
color:white;
padding:2px 6px;
border-radius: 4px;
}
#announce_header_c p{
  color:var(--font-color);
}
#announce_header_p div:last-child p:first-child{
font-size: 27px;
color:20px;
}
#announce_header_p div:last-child p:last-child{
  background-color:white;
padding:2px 6px;
border-radius: 4px;
width:fit-content;
color:var(--font-color);
}
#announce_header_c i{
color:#8B7A5B;
}
/* end annonce header */

/* start annonce description and contact */
#contact{
  background-color: white;
  width: 80%;
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  padding:30px;
  align-items: baseline;
}
#contact p,#contact button{
  font-weight: 600;
}
#contact button{
  background-color:black;
  color:white;
  padding:7px 30px;
  border-radius: 4px;
  cursor:pointer;
  border:none;
  transition-duration:0.3s;
}
#contact button:hover{
background-color:rgb(31, 29, 29);
}
/* end annonce description and contact */
/* start gallery */
li img ,.splide__slide
{
border-radius: 5px !important;
}
.slide{
margin: 0 100px !important;
}
.slide i
{
background-color: rgb(242, 242, 242);
padding: 30%;
text-align: center;
border-radius: 50%;
}
.splide__arrow--prev
{
position: absolute !important;
left: -20px !important;
}
.splide__arrow--next
{
position: absolute !important;
right: -20px !important;
}
.thumbnails {
  display: flex;
  padding-top: 10px;
  padding-left: 0;
}
.thumbnail {
  width: 200px;
  height: 110px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}
.thumbnail.is-active {
  opacity: 1;
}
.thumbnail img {
  width: 100%;
  height: 100px;
}

/* end gallery */
/* start description and map */
#description{
display:flex;
gap:30px;
margin-top:30px;
margin-bottom:50px;
justify-content: center;
flex-wrap: wrap;
}
#description div{
width:40%;
height:300px;
}
#description div img{
width:100%;
height:100%;
}

#description div:first-child{
background-color:white;
padding: 30px;
}

/* end description and map */
