#panelSearch2{
    position: relative;
    z-index: 122;
    background-color: white;
top: 50%;
box-shadow: 0px 0px 43px 0px rgb(0 0 0 / 31%);
padding:25px;
left: 50%;
transform: translate(-50%,-10%);
font-weight: 600;
border-radius: 5px;
width: 80%;
}
#panelSearch2 form{
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
#panelSearch2Parent{
    background-image: url("./images/bg2.jpg");
    position: relative;
    width: 100%;
    height:50vh;
    background-color: black;
    z-index: 111;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    top:0;

}
#panelSearch2Parent::after{
    content: "";
    width: 100%;
    height:100%;
    background-color: #644c20b6;
    position: absolute;
    top:0;
}
#panelSearch2 form select, input { 
padding: 10px;
border:0.7px #eee solid;
width: 100px;

}
#panelSearch2 form button ,#add,#annonce{
    padding: 10px;
    border: none;
    background-color: black;
    color:white;
    font-weight:700;
border-radius: 5px;
cursor: pointer;
transition-duration: 0.3s;
width: 120px;
}
#panelSearch2 form button:hover{
background-color:#644c20b6;
}


#header2{
    display:flex;
    justify-content:space-around;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.5s ease-in-out;
    z-index: 999;
    color: black;
    padding:10px 0;
    background-color: white;

    }
    #header2.scrolled {
        background-color: white;
    color: black;
    
      }
    #header2 div ul{
        display:flex;
    }
    #header2 div li{
        list-style: none;
        margin: 8px;
    }
    #sec2{
        padding-top:0 !important;
    }
    #annonces{
        margin-top: 20px !important;
    }

    .intro{
        color:rgb(241, 216, 216);
        z-index: 500;
        position: relative;
        top:120px;
        text-align: center;
        
    }